body{
	margin: 0;
	background-color: #0a0a0c;
	font-family: Century Gothic, sans-serif;
}
.container{
	width: 85%;
	max-width: 850px;
	margin: 0 auto;
}
.header{
	background-color: #0a0a0c;
	color: white;
	padding: 1rem 0;
	position: fixed;
	left: 0;
	top:0;
	right: 0;	
}
	.header a{
		color: #937341;
		text-decoration: none;
		font-weight: bold;
	}
.logo-nav-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.img-logo{
	background-image: url("../img/logo.png");
}
.menu-icon{
	display: none;
}
.navigation ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
	.navigation ul li{
		display: inline-block;
	}	
		.navigation ul li a{
			display: block;
			padding: 0.5rem 1rem;
			transition: all 0.4s linear;
			border-radius: 5px;
		}
		.navigation ul li a:hover{
			background: #4a4a4a
		}
.main{
	padding-top: 100px;
}	
.footer{
	background: #937341;
	color: #0a0a0c;
	font-family: Century Gothic, sans-serif;
	font-size: 10px;
	padding: 5px 0;
	text-align: center;
	margin-top: 5px;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	border: solid 1px;	
}
.informative-content{
	width: 1000px;
	height: 400px;
	margin: auto;
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: green;
}

#video{
	position: absolute;
	left: 0;
	top: 20;
	width: 100%;
	height: auto;
	z-index: -10;
	visibility: visible;
}
.container-welcome{
	width: 90%;
	height: 600px;
	margin: 20px auto;
}
.container-auxiliary{
	width: 90%;
	height: 100px;
}
.createTitle{
	color: #937341;
	width: 100%;
	height: 25px;
	text-align: center;
	margin: 0px;
	border-top: 2px solid #937341;
	border-bottom: 1px solid #937341;
	background: #0a0a0c;
	font-weight: bold;
	font-size: 20px;
}
.container-champions{
	width: 98%;
	overflow: hidden;
	margin: 20px auto;
	padding: 20px;
  }
.container-list{
	padding: 0px;
	margin: 0px;
}
.list-champions{
	list-style: none;
	float: left;
	width: 9.5%;
	height: 80px;
	background-color:white;
	margin: 10px 10px 10px 10px;
	border-radius: 15px;
	cursor: pointer;
  }
.list-champions:hover{
	background: #4a4a4a;
	border-radius: 15px;
}
.champion-name{
	width: 100%;
	height: 30px;
	line-height: 20px;
	text-align: center;
	margin: 0px;
}
.champion-img{
	height: 50px;
  }
  .post-image{
	display: block;
	margin: auto;
  }

@media only screen and (max-width: 767px){
	.menu-icon{
		background-image: url(../img/btn-menu.png);
		background-repeat: no-repeat;
		display: block;
		cursor: pointer;
		padding: 30px;
	}
	.navigation{
		width: 100%;
	}
	.navigation ul{
		display: none;
		
	}
	.navigation ul.show{
		display: block;

	}
	.navigation ul li{
		display: block;
		margin-top: 1rem;
		
	}	
		.navigation ul li a{
			display: block;
			padding: 0.5rem 0;
			transition: all 0.4s linear;
			border-radius: 5px;
		}
		.navigation ul li a:hover{
			background: #4a4a4a
		}
	.list-champions{
		width: 30%;
		margin-left: 40px;
	  }
	.container-welcome{
		width: 100%;
		height: 150px;
		margin: 25px auto;
	}
	.container-auxiliary{
		display: none;
	}
}