/* Diseño de prototipo */
body{
	margin: 0;
	background-color: #0a0a0c;
	font-family: Century Gothic, sans-serif;
}
.container{
	width: 85%;
	max-width: 850px;
	margin: 0 auto;
}
/* Diseño de encabezado fijo */
.header{
	background-color: #0a0a0c;
	color: white;
	padding: 1rem 0;
	position: fixed;
	left: 0;
	top:0;
	right: 0;	
}
	.header a{
		color: #937341;
		text-decoration: none;
		font-weight: bold;
	}
.logo-nav-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.img-logo{
	background-image: url("../img/logo.png");
}
.menu-icon{
	display: none;
}
.navigation ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
	.navigation ul li{
		display: inline-block;
	}	
		.navigation ul li a{
			display: block;
			padding: 0.5rem 1rem;
			transition: all 0.4s linear;
			border-radius: 5px;
		}
		.navigation ul li a:hover{
			background: #4a4a4a
		}
.main{
	padding-top: 100px;
}
.informative-content{
	width: 1000px;
	height: 400px;
	margin: auto;
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top: 10px;
	margin-bottom: 10px;
}

#video{
	position: absolute;
	left: 0;
	top: 20;
	width: 100%;
	height: auto;
	z-index: -10;
	visibility: visible;
}
/* Diseño de presentacion de la pagina */
.container-welcome{
	padding: 20px;
	margin-top: 20px;
	width: 35%;	
	color: #937341;
	font-size: 25px;
}
.text-welcome{
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.btn-welcome{
	background-color:#D4AF37;
	color: #000;
	font-size: 18px;
	margin: 20px;
	padding: 10px;
	border-radius: 10px;
	font-weight: bold;
	text-decoration:none;
}
.container-auxiliary{
	width: 90%;
	margin-top: 650px;
	height: 100px;
	display: none;
}
.top-champions{
	width: 100%;
	height: 100px;
	background: blue;
	margin-top: 100px;
}
/* Diseño de contenedor de campeones */
.Title{
	color: #937341;
	width: 100%;
	height: 25px;
	text-align: center;
	margin: 0px;
	border-top: 2px solid #937341;
	border-bottom: 1px solid #937341;
	background: #0a0a0c;
	font-weight: bold;
	font-size: 20px;
}
.create-Title{
	display: block;
}
.container-champions{
	width: 98%;
	overflow: hidden;
	margin: 20px auto;
	padding: 20px;
  }
.container-list{
	padding: 0px;
	margin: 0px;
}
/* Diseño de contenedor de filtros */
.main-condition{
	display: none;
	margin-top: 0px;
}
.container-filters{
	width: 300px;
	margin-right: auto;
	padding: 20px;
	background: #0a0a0c;
	float: left;
  }
.container-role{
	width: 70%;
	overflow: hidden;
	margin: 20px auto ;
	padding: 20px;
	float: right;
}
.list-role{
	padding: 0px;
	margin: 0px;
}
.list-champions{
	list-style: none;
	float: left;
	width: 9.5%;
	height: 80px;
	background-color:white;
	margin: 10px 10px 10px 10px;
	border-radius: 15px;
	cursor: pointer;
  }
.list-champions:hover{
	background: #4a4a4a;
	border-radius: 15px;
}
.champion-name{
	width: 100%;
	height: 30px;
	line-height: 20px;
	text-align: center;
	margin: 0px;
	color: #000;
}
a.list-champions:link{
	text-decoration:none; 
}
.champion-img{
	height: 50px;
  }
  .post-image{
	display: block;
	margin: auto;
	border-radius: 10px;
  }
/* Diseño de modal */
.modal-champions{
	position: fixed;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	z-index: 999;
  	opacity: 0;
  	pointer-events: none;
  	-webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.modal-champions:target {
	opacity: 1;
	pointer-events: auto;
}
.modal-champions>.container-modal {
	width: 654px;
	height: 386px;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 2em;
	-webkit-box-shadow: 10px 10px 300px 151px rgba(0,0,0,1);
	-moz-box-shadow: 10px 10px 300px 151px rgba(0,0,0,1);
	box-shadow: 10px 10px 300px 151px rgba(0,0,0,1);
	border-radius: 30px;
	color: #937341;
	font-size: 25px;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.btn-close {
	color: #aaa;
	line-height: 50px;
	font-size: 90%;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 70px;
	text-decoration: none;	
}
.btn-close :hover {
	color: #000;
  }
.description-champions{
	color: beige;
}
.modal-champions>.modal-filter {
	width: 400px;
	height: 500px;
	position: absolute;
	background: green;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 2em;
	border-radius: 30px;
	color: #937341;
}
.img-modal{
	width: 400px;
	height: 236px;
	border-radius: 30px;
}
.container-canvas{
	width: 400px;
	height: 236px;
	background: yellow;
}
.chart-champions{
	width:"30";
	height:"200";
	background: purple;
}

/* Diseño del cuadro de filtros */
  .title-filters{
   background: #937341;
   padding: 10px;
   text-align: center;
   border-top-right-radius: 25px;
   border-top-left-radius: 25px;
  }
  .filters{
	padding: 10px;
	background: white;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius:20px;
  }
  .select-Role{
	width: 90%;
	padding: 10px;
	border: 1px solid #937341;
	border-radius: 25px;
  }
  .radio-Role{
	width: 90%;
	padding: 10px;
	border: 1px solid #937341;
	border-radius: 25px;
  }
  .compute-stats{
	width: 90%;
	padding: 10px;
	border: 1px solid #937341;
	border-radius: 25px; 
  }
  .statsTitle{
	font-size: 12px;
	display: inline-block;
  }
/* Modo responsive */
@media only screen and (max-width: 767px){
	.img-welcome2{
		padding: 5px;
		width: 340px; 
		height: 200px;
		margin-top: 50px;
	}
	.menu-icon{
		background-image: url(../img/btn-menu.png);
		background-repeat: no-repeat;
		display: block;
		cursor: pointer;
		padding: 30px;
	}
	.navigation{
		width: 100%;
	}
	.navigation ul{
		display: none;
		
	}
	.navigation ul.show{
		display: block;

	}
	.navigation ul li{
		display: block;
		margin-top: 1rem;
		
	}	
		.navigation ul li a{
			display: block;
			padding: 0.5rem 0;
			transition: all 0.4s linear;
			border-radius: 5px;
		}
		.navigation ul li a:hover{
			background: #4a4a4a
		}
	.img-welcome{
		display: none;
	}
	.list-champions{
		width: 30%;
		margin-left: 40px;
	  }
	.container-welcome{
		width: 100%;
		height: 150px;
		margin: 25px auto;
	}
	.container-auxiliary{
		margin-top: 0px;
		height: 220px;
	}
	.container-filters{
		max-width: 100%;
	}
	.container-role{
		width: 98%;
		overflow: hidden;
		margin: 20px auto ;
		padding: 20px;
	}
	.modal-champions>.container-modal {
		width: 280px;
		height: 250px;
		padding: 10px;
		font-size: 13px;
		background-size: cover;
	}
	.container-welcome{
		padding: 5px;
		margin-top: 200px;
		width: 100%;	
		color: #937341;
		font-size: 15px;
	}
	.top-champions{
		margin-top: 100px;
		width: 100%;
		height: 100px;
		background: blue;
	}
}


